## Programming for Data Analysis Project

** Rainfall in the Muskerry Region of Cork**

In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('C:\\Users\\Shane\\Desktop\\GMIT\\meteireann\\Rainfall.csv')
print(df)

      01-may-1995  1  5.000
0     02-may-1995  0    0.0
1     03-may-1995  0    0.0
2     04-may-1995  0    0.0
3     05-may-1995  0    0.0
4     06-may-1995  0    0.0
5     07-may-1995  0    0.0
6     08-may-1995  0    0.0
7     09-may-1995  0    2.0
8     10-may-1995  0   18.2
9     11-may-1995  0    1.0
10    12-may-1995  0    0.0
11    13-may-1995  0    0.0
12    14-may-1995  0    0.0
13    15-may-1995  0    3.0
14    16-may-1995  0    0.8
15    17-may-1995  0    0.0
16    18-may-1995  0    0.0
17    19-may-1995  4    0.0
18    20-may-1995  0    0.9
19    21-may-1995  0    1.0
20    22-may-1995  0    2.4
21    23-may-1995  0    1.0
22    24-may-1995  0    6.0
23    25-may-1995  0    6.4
24    26-may-1995  0    2.5
25    27-may-1995  0   16.1
26    28-may-1995  0    4.8
27    29-may-1995  0    0.8
28    30-may-1995  0    0.0
29    31-may-1995  0    0.0
...           ... ..    ...
8218  02-aug-2018  0    0.0
8219  03-aug-2018  0    0.0
8220  04-aug-2018  0    0.0
8221  05-aug-2018  0    0.0
8222  06-aug-2018  0    0.0
8223  07-aug-2018  0    0.0
8224  08-aug-2018  0    0.0
8225  09-aug-2018  0    0.0
8226  10-aug-2018  0    1.4
8227  11-aug-2018  0    4.7
8228  12-aug-2018  0   10.4
8229  13-aug-2018  0    0.0
8230  14-aug-2018  0    0.0
8231  15-aug-2018  0    0.4
8232  16-aug-2018  0    0.0
8233  17-aug-2018  0    0.0
8234  18-aug-2018  0    0.5
8235  19-aug-2018  0    0.0
8236  20-aug-2018  0    0.0
8237  21-aug-2018  0    0.4
8238  22-aug-2018  0    0.0
8239  23-aug-2018  0    0.0
8240  24-aug-2018  0    0.0
8241  25-aug-2018  0   13.0
8242  26-aug-2018  0    0.0
8243  27-aug-2018  0    0.0
8244  28-aug-2018  0    3.6
8245  29-aug-2018  0    0.0
8246  30-aug-2018  0    0.5
8247  31-aug-2018  0    3.4

[8248 rows x 3 columns]